@use "../utilities/mixins";
@use "../utilities/variables";

.que-ofrezco {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    h2 {
        grid-column: 1/4;
        font-size: variables.$font-size-h2-h3;
        font-weight: 600;
        text-align: center;
        margin-bottom: 40px;
    }
}

.card-habilidad {
    @include mixins.flex(column, flex-start, center);
    gap: 20px;
    padding: 20px;
    margin: 10px;
    min-height: 400px;
    border: 1px solid variables.$white; 
    border-radius: 8px;
    box-shadow: 0 4px 10px variables.$shadow-color;
    transition: all 0.3s ease-out;

        &:hover { 
            transform: translateY(-5px); 
            box-shadow: 0 8px 16px;
        }

    img {
        @include mixins.size-img(35px, 35px);
        filter: grayscale(100);
    }

    h3 {
        font-size: variables.$font-size-h2-h3;
        text-align: center;
        font-weight: 600;
        color: variables.$text-color;
    }

    p {
        font-size: variables.$font-size-h4-p;
        text-align: justify;
        color: variables.$text-color;
    }
}