//@use.... en la carpeta a usarlo

//para usarlo: ej color: variables.$main-color;

$main-color: #2A8E2E;
$second-color: #80881C;
$second-hover: #D8E090;
$black: #000000;
$white: #ffffff;
$shadow-color: #A9A9A9;
$text-color: #333333;
$background-header: #ffffff;
$font-size-h1: 2.5rem;
$font-size-h2-h3: 1.5rem;
$font-size-h4-p: 1rem;